@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --color0: #ff7e05;
    --color1: #6cc164;
    --color2: #CD7A2A;
    --color3: #DAA20F;
    --color4: #007D8F;
    --color5: #00A7B2;
    --color6: #000000;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
    pointer-events: none;
    user-select: none;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

body {
    position: relative;
    background: #ffffff;
}

/* Header Styles */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 130px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s ease;
    background: transparent;
}

header .logo {
    height: 100%;
    width: 30%;

    img {
        height: 100%;
        width: 100%;
    }

}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    width: 60%;
}

.nav-links a {
    font-size: 20px;
    color: var(--color6);
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    opacity: 0.7;
}

.falar-btn {
    border-radius: 16px;
    background: var(--color4);
    border: none;
    padding: 10px 20px !important;
}

.header.fixed {
    position: fixed;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.3s ease-out;
}


.header.fixed .nav-links a {
    color: #1e293b;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F8FAFC;
    z-index: 100;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

.menu-m-btn {
    display: none;
}

.closeMobileMenu {
    position: absolute;
    right: 20px;
}

.openMobileMenu {
    display: none;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.mobile-menu-overlay.active {
    display: block;
}


/* HOME */
.home {
    display: grid;
    grid-template-columns: 45% 50%;
    place-items: center;
    gap: 50px;
    min-height: 100vh;
    overflow: hidden;
    padding: 150px 100px;
}

.description {
    position: relative;
    color: var(--color6);

}

.description h1 {
    font-family: "Tilt Neon", sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.1;
    margin-bottom: 30px;
}

.gradient-text {
    font-family: "Tilt Neon", sans-serif;
    color: var(--color6);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
}

.description p {
    font-family: "Nunito", sans-serif;
    font-size: clamp(0.9rem, 3vw, 1.4rem);
    line-height: 1.5;
}

.description p strong {
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
}

.description h2 {
    margin-bottom: 30px;
}

.description h2 strong {
    font-size: 1.5rem;
    position: relative;
}

strong::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 2px;
    background: var(--color1);
}

.form-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    max-width: max-content;
    background: var(--color1);
    background-size: 200%;
    background-position: left;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.btn:hover {
    background-position: right;
}

.users-color-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item {
    max-width: 200px;
    aspect-ratio: 1/1;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
        inset 0px 2px 2px rgba(255, 255, 255, 0.2);
    animation: fadeIn 0.5s linear 1 forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
}

.item:nth-child(1) {
    background-color: #67d7e1;
    border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
    border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
    background-color: var(--color5);
    border-radius: 50%;
}

.item:nth-child(4) {
    border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
    border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
    background-color: var(--color2);
    border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
    border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
    background-color: #fe7519;
    border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
    background-color: var(--color4);
    border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
    border-radius: 50%;
}

.item:nth-child(11) {
    background-color: #DAA20F;
    border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
    border-radius: 50% 0 0 0;
}

.curso {
    display: inline-flex;
    align-items: center;
    gap: 2;
    padding: 5px 10px;
    color: var(--color4);
    border-radius: 50px;
    border: 1px solid var(--color4);
}

.curso span {
    margin-left: 5px;
    color: var(--color4);
}

.event {
    color: var(--color6);
}

.event span {
    margin-left: 5px;
    color: var(--color6);
}

.ProblemaSolucao {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
    padding: 100px 100px;

}

#problema,
#solucao {
    padding: 50px;
    border-radius: 50px;
}

#problema h2 {
    font-size: 2.5rem;
    color: var(--color6);
}

#solucao h2 {
    font-size: 2.5rem;
    color: var(--white);
}

#solucao p {
    color: var(--white);
    font-size: 1.4rem;
}

#problema p {
    color: var(--color6);
    font-size: 1.4rem;
}

#solucao ul {
    color: var(--white);
}

#problema ul {
    color: var(--color6);
    margin-left: 40px;
}

#solucao {
    background-color: var(--color1);

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

#estrutura.estrutura-section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#estrutura.estrutura-section .estrutura-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.04);

}

.estrutura-section h3 {
    color: var(--color4);
    font-size: clamp(2rem, 5vw, 4rem);

}

.estrutura-list {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

}

@media (max-width: 768px) {
    .estrutura-list {
        grid-template-columns: 1fr;
    }
}

.estrutura-list li {
    position: relative;
    padding-left: 1.75rem;
    color: var(--color6);
    font-size: 1.4rem;

}

.estrutura-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.6rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color1);
    box-shadow: 0 0 0 4px rgba(108, 193, 100, 0.2);
}

.sticker {
    display: flex;
    max-width: 700px;
    background: linear-gradient(135deg, var(--color4), var(--color5));
    color: var(--white);
    border-radius: 16px;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  margin-top: 20px;

}

.sticker strong::after {
    display: none;
}

.edition {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sticker .badge {
    width: 38px;
    height: 38px;
    background: var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1rem;
    flex-shrink: 0;
}

.content h4 {
    margin: 0;
    font-size: 1.1rem;

}

.content p {
    margin: 4px 0;
    font-size: 0.95rem;
    opacity: 0.9;

}

.content strong {
    font-size: 1rem;
    color: #ffd28a;
}

.divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 18px 0;
}


.estrutura-badges {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    bottom: 40px;
    /* position: absolute; */

}

@media (min-width: 640px) {
    .estrutura-badges {
        flex-direction: row;
    }
}

.estrutura-badges .badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 16px;
    font-weight: 600;
    color: var(--white);
}

.badge-level {
    background: var(--color4);
}

.badge-approach {
    background: var(--color3);
}

.inscricao-section {
    padding: 64px 0;
    text-align: center;

    div {
        min-width: 85%;
        padding: 80px;
        background-color: var(--color4);
        border-radius: 50px;
        color: var(--white);

        h3 {
            color: var(--white);
            font-size: 2.3rem;

        }

        p {
            font-size: 1.3rem;
        }


    }

}

.cta-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 24px;
    background: var(--color3);
    color: var(--white);
    border-radius: 16px;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease;
}

.cta-btn:hover {
    transform: translateY(-2px);
}


footer {
    padding: 50px 100px;
    background: var(--color4);

}

footer .logo {
    display: flex;
    height: 120px;

}

.contact {
    cursor: pointer;

}

.logo1 , .logo2 {
    height: 100%;
    flex: 1;
}

.logo2 IMG {
    object-fit: contain;
}



footer .content-top {
    display: grid;
}

/* Ajustes de responsividade para mobile e tablet */
@media screen and (max-width: 1024px) {

    /* Tablet */
    main {
        padding: 0px 50px;
        flex-direction: column;
        text-align: center;
    }

    .home {
        padding: 130px 60px;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .ProblemaSolucao {
        padding: 80px 60px;
        flex-direction: column;
        gap: 40px;
    }

    footer {
        padding: 50px 60px;
    }


    .estrutura-list {
        gap: 30px;
    }

    .inscricao-section div {
        padding: 60px 40px;
    }
}

@media screen and (max-width: 768px) {

    /* Mobile e Tablet pequeno */
    .header {
        padding: 10px 25px;
    }

    .logo {
        width: 50%;
    }

    main {
        padding: 0px 25px !important;
    }

    main>div h1 {
        font-size: 2.8rem;
        margin: 30px 0;

    }

    main>div hr {
        width: 100%;
    }

    .sticker {
        flex-direction: column;
        width: 100%;
        padding: 24px;
        position: relative;
        
    }

    .openMobileMenu {
        display: flex;
    }

    .home .description h1 {
        font-size: 2.8rem;
        text-align: center;
    }

    .nav-links {
        padding: 0px 20px;
    }

    .description p {
        padding: 0;
        font-size: 1.2rem;
    }

    .form-btn {
        align-items: center;
        justify-content: center;
    }

    .description p strong,
    .description h2 strong {
        font-size: 1.2rem;
    }

    .ProblemaSolucao {
        padding: 0px;
    }

    #problema,
    #solucao {
        padding: 40px 25px;
        border-radius: 30px;
    }

    #problema h2,
    #solucao h2 {
        font-size: 2rem;
    }

    #problema p,
    #solucao p {
        font-size: 1.2rem;
    }

    .estrutura-section h3 {
        font-size: 2rem;
    }

    .estrutura-section {
        padding: 40px 25px;

    }

    .estrutura-list {
        grid-template-columns: 1fr;
        gap: 25px;

    }

    .estrutura-list li {
        font-size: 1.2rem;
        padding-left: 1.5rem;
    }

    .estrutura-badges {
        position: relative;
        bottom: 0;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .badge {
        width: 100%;
        justify-content: center;
        padding: 10px 15px;
    }

    .inscricao-section div {
        padding: 50px 25px;
        border-radius: 30px;
    }

    .inscricao-section h3 {
        font-size: 1.8rem;
    }

    .inscricao-section p {
        font-size: 1.1rem;
    }

    footer {
        padding: 40px 25px;
    }

    footer .logo {
        height: 100px;

        img {
            object-fit: contain;
        }
    }

    footer .content-top {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .swiper-slide {
        width: 16rem;
        height: 25rem;
    }

    .swiper-slide h2 {
        font-size: 1.2rem;
        padding: 0 0 0 1.2rem;
    }

    .swiper-slide p {
        padding: 0 1.2rem;
        font-size: 0.9rem;
    }

    .swiper-slide a {
        margin: 1rem 1.2rem 2.5rem 1.2rem;
        padding: 0.4em 1.5rem;
        font-size: 0.85rem;
    }
}

/* Ajuste específico para a navegação mobile */
@media screen and (max-width: 767px) {
    .nav-links {
        display: none;
    }

    .mobile-menu .nav-links {
        display: block;

    }

    .menu-m-btn {
        display: block;
    }
}

/* Ajuste para garantir que o menu mobile funcione corretamente */
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .mobile-menu-overlay {
        display: none;
    }
}


@media (max-width: 1215px) {
    .btn {
        font-size: 1rem;
    }
}

@media (max-width: 1015px) {
    .home {
        grid-template-columns: 45% 50%;
        gap: 50px;
        padding: 140px 50px;
    }

    .btn {
        padding: 8px 12px;
    }
}

@media (max-width: 865px) {
    .home {
        grid-template-columns: 45% 50%;
        gap: 60px;
        padding: 130px 70px;
    }

    .users-color-container {
        gap: 15px;
    }
}

@media (max-width: 815px) {
    .home {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "userscolorcontainer"
            "description";
        gap: 30px;
        padding: 90px 80px 70px;
    }

    .users-color-container {
        grid-area: userscolorcontainer;
        gap: 20px;
    }

    .description {
        grid-area: description;
        padding: 0;
        text-align: center;
    }

    #form {
        justify-content: center;
    }
}


@media (max-width: 460px) {
    .home {
        gap: 0;
        padding: 30px 40px;
    }

    #form {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }

    input[type="email"]:focus {
        outline-offset: 6px;
    }

}